# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata

# Bundler / Ruby
.bundle/
vendor/bundle/
Gemfile.lock

# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sass / SCSS cache
.sass-cache/

# 시스템 파일
.DS_Store
Thumbs.db

# IDE / 에디터
.vscode/
*.swp
