div.footer_contents {
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 0.05ch;
}

div.footer_contents.old_sites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em 2em;
  a {
    filter: grayscale(1);
    transition: filter 0.3s ease;
    &:hover {
      filter: grayscale(0);
    }
  }
}

div.footer_contents div.sponsors {
  display: grid;
  font-size: 0.8em;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-auto-rows: minmax(10px, 30px);
  place-items: center start;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  gap: 16px;
  a {
    filter: grayscale(1);
    transition: filter 0.3s ease;
    &:hover {
      filter: grayscale(0);
    }
  }
}

.footer-inline-icons {
  display: inline-flex;
  font-size: 1.5rem;
  align-items: center;
  vertical-align: middle;
  gap: 1rem;
  margin-block: 0.5rem;
  a {
    filter: grayscale(1);
    transition: filter 0.3s ease;
    &:hover {
      filter: grayscale(0);
    }
  }
  svg {
    width: 1em;
    height: 1em;
    display: block;
    overflow: visible;
  }
  .discord-link { color: #5865F2; }
  .instagram-link { color: #E4405F; }
  .facebook-link  { color: #1877F2; }
}

div.logoWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
}

div.logo {
  width: 140px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.line {
  width: 60px;
  height: 2px;
  background-color: var(--ucpc-gray-light);
  margin: 0px auto;
  border-radius: 2px;
}